<main>
  <div class="container-fluid">
    <h1 class="mt-4">Analysis</h1>

    <div>
      <%= "Text:  " + @issue  %>



    </div>




      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-table mr-1"></i>
          Text functions
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
              <tr>
                <th>Text</th>
                <th>Referential</th>
                <th>Emotive</th>
                <th>Conative</th>
                <th>Phatic</th>

              </tr>
              </thead>

              <tbody>
              <tr>
                <td><%=@issue %></td>
                <td><%=@resultR %></td>
                <td><%=@resultE %></td>
                <td><%=@resultC %></td>
                <td><%=@resultP %></td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Analysis</li>
      </ol>

      <div class="row">
        <div class="col-xl-6">
          <div class="card mb-4">
            <div class="card-header">
              <i class="fas fa-chart-area mr-1"></i>
              Comments by communication function
            </div>
            <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="card mb-4">
            <div class="card-header">
              <i class="fas fa-chart-bar mr-1"></i>
              Other graph
            </div>
            <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
          </div>
        </div>
      </div>
      </div>
      </main>

