    <main>
      <div class="container-fluid">
        <h1 class="mt-4">Analyzer of issues and comments</h1>

        <div>
          <%= form_with url: "analyze", method: :post do |form| %>
            <%= form.label :text, "Text (issue/comment):" %>
            <%= form.text_field :text, :required => true %>
            <%= form.submit "Analize" %>
          <% end %>




        </div>



        <div class="card mb-4">
          <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Instructions
          </div>
          <br>
          <ol>
            <li>
              Type the description of issue or comment
            </li>
            <li>
              Press the "Analyze" button
            </li>
            <li>
              The system will display the analysis, indicating the type of sentences the text contains, example:
            </li>
          </ol>


          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                  <th>Text</th>
                  <th>Referential</th>
                  <th>Emotive</th>
                  <th>Conative</th>
                  <th>Phatic</th>

                </tr>
                </thead>

                <tbody>
                <tr>
                <td>The bug was fixed, Thanks</td>
                  <td>Yes</td>
                  <td>No</td>
                  <td>No</td>
                  <td>Yes</td>
                </tr>
              </table>
            </div>
          </div>
        </div>

      </div>
    </main>

