<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<%= javascript_pack_tag 'application'%>

<main>
  <div class="container-fluid">
    <h1 class="mt-4">Analysis example of communication functions</h1>

    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Issues & Comments
      </div>
      <div class="card-body" >
        <div class="table-responsive" >

          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
            <tr>
              <th>#</th>
              <th>Issue Id</th>
              <th>Comment description</th>
              <th>Project</th>
              <th>Referential</th>
              <th>Emotive</th>
              <th>Conative</th>
              <th>Phatic</th>

            </tr>
            </thead>

            <tbody>
            <% @CommentsTable.each do |comment| %>
              <tr>
                <td></td>
                <td><%= comment.id_issue %></td>
                <td><%= comment.comment %></td>
                <td><%= comment.project %></td>
                <td><%= if comment.referential
                          "Yes"
                        else
                          "No"
                        end%></td>
                <td><%= comment.emotive %></td>
                <td><%= comment.conative %></td>
                <td><%= comment.phatic %></td>


              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Analysis</li>
    </ol>

    <div class="row">
      <div class="col-xl-6">
        <div class="card mb-4">
          <div class="card-header">
            <i class="fas fa-chart-area mr-1"></i>
            Comments by project
          </div>
          <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
          <%= pie_chart @CommentsTable.group(:project).count %>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="card mb-4">
          <div class="card-header">
            <i class="fas fa-chart-bar mr-1"></i>
            Referential comments
          </div>
          <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
          <%= bar_chart @CommentsTable.group(:referential).count, colors: ["#6f42c1", "#fd7e14"]%>

        </div>
      </div>
      <div class="col-xl-6">
        <div class="card mb-4">
          <div class="card-header">
            <i class="fas fa-chart-bar mr-1"></i>
            Emotive comments
          </div>
          <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
          <%= bar_chart @CommentsTable.group(:emotive).count,colors: ["#007BFF", "#FFC107"] %>

        </div>
      </div>
      <div class="col-xl-6">
        <div class="card mb-4">
          <div class="card-header">
            <i class="fas fa-chart-bar mr-1"></i>
            Conative comments
          </div>
          <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
          <%= bar_chart @CommentsTable.group(:conative).count, colors: ["#28a745", "#DC3545"] %>

        </div>
      </div>
      <div class="col-xl-6">
        <div class="card mb-4">
          <div class="card-header">
            <i class="fas fa-chart-bar mr-1"></i>
            Phatic comments
          </div>
          <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
          <%= bar_chart @CommentsTable.group(:phatic).count, colors: ["#17A2B8", "#e83e8c"] %>

        </div>
      </div>
    </div>
  </div>
</main>

