<%= stylesheet_link_tag "main" %>

<!DOCTYPE html>
<html lang="en">
<head>

    <%= csrf_meta_tags %>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Communication Analyzer</title>
</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">

  <%= link_to "Home", analysis_index_path, class: "navbar-brand" %>
  <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">

  </form>
  <!-- Navbar-->
  <ul class="navbar-nav ml-auto ml-md-0">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
        <a class="dropdown-item" href="#">Help</a>
      </div>
    </li>
  </ul>
</nav>

<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <div class="sb-sidenav-menu-heading">Analysis</div>
          <%= link_to " - Issues", analysis_index_path, class: "nav-link" %>

          <div class="sb-sidenav-menu-heading">Exmples</div>
          <%= link_to " - Communication functions", example_index_path, class: "nav-link" %>
        </div>
      </div>
    </nav>
  </div>


  <div id="layoutSidenav_content">

    <%= yield %>


    <footer class="py-4 bg-light mt-auto">
      <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
          <div class="text-muted">Copyright &copy; Sandra Ramirez 2021</div>
          <div>
            <a href="#">Privacy Policy</a>

          </div>
        </div>
      </div>
    </footer>
  </div>
</div>

</body>
</html>
